* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #f5f5f7;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11px auto;
  gap: 83px;
}
.nav-links {
  display: flex;
  gap: 24px;
}
.nav-links a {
  color: black;
}
.nav-links a:hover{
color: #8540ca;
transition: 0.3s;
}
.logo a {
  color: #5b47d1;
}
.logo {
  font-weight: bold;
  font-size: 24px;
  color: #5b47d1;
  background-color: #f0edff;
  padding: 11px 20px;
  font-family: sans-serif;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}


.banner-box {
  position: relative;
}
.banner-photo {
  overflow: hidden;
}

.banner {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.banner:hover{
  color: #33b166;
  transition: 0.3s;
}

#section-title {
  text-align: center;
  margin: 45px auto;
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-card {
  width: 360px;
  height: 500px;
  background-color: white;
  font-family: sans-serif;
  margin-left: 30px;
  margin-bottom: 30px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.blog-card:hover {
  background-color: #e4e3e355;
  transform: translateY(-8px);
}
.card-image1 {
  background-color: #c7b8ff;
  height: 240px;
  border-radius: 8px 8px 0 0;
}
.card-image2 {
  background-color: #ffb8d8;
  height: 240px;
  border-radius: 8px 8px 0 0;
}
.card-image3 {
  height: 240px;
  background-color: #b8e0ff;
  border-radius: 8px 8px 0 0;
}
.card-image4 {
  background-color: #d4ffb8;
  height: 240px;
  border-radius: 8px 8px 0 0;
}
.card-image5 {
  background-color: #ffe4b8;
  height: 240px;
  border-radius: 8px 8px 0 0;
}
.card-image6 {
  background-color: #ffd4b8;
  height: 240px;
  border-radius: 8px 8px 0 0;
}
.date-author {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.card-content {
  padding: 16px;
}
.card-title {
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 22px;
}
.site-footer {
  background-color: #252424;
}
.footer-content {
  max-width: 1200px;
  margin: 0;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.footer-about-contact {
  max-width: 300px;
}
.footer-about-contact h4 {
  color: white;
  padding: 20px 0;
}
.footer-about-contact p {
  color: #a1a1a6;
}
.contact-list {
  color: #a1a1a6;
}
.footer-nav h3 {
  color: white;
  padding: 20px 0;
}
.footer-nav-list {
  color: #a1a1a6;
}
.footer-bottom {
  height: 40px;
  background-color: black;
  text-align: center;
}
.footer-bottom p {
  color: #a1a1a6;
  padding-top: 10px;
  font-size: 14px;
}
.footer-nav-list:hover{
  color: #ffffff;
  transition: 0.3s;
}